body {
  color: #3f3f3f;
}

header {
  text-align: center;
}

header img {
  width: 175px;
}

/*Making vertical list in Navigation bar horizontal*/

nav li {
  display: inline;
  padding: 10px;
}

/*Making text in the center*/
nav ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #F0F1F1;
  padding: 15px;
}

nav a {
  color: #3f3f3f;
  text-decoration: none;
}

section {
  text-align: center;
  background-color: #F0F1F1;
  background-image: url(http://pluspng.com/img-png/iphone-hd-png-iphone-apple-png-file-550.png), url(https://cdn.macrumors.com/article-new/2017/02/applestoresaopaulo-800x530.jpg?retina);
  background-repeat: no-repeat;
  background-size: 400px, cover;
  background-position: center;
  margin-top: 10px;
  height: 500px;
}

/*Making boxes inside centered*/

.container {
  display: flex;
  justify-content: center;
}

/*Setting the width and aligning text inside*/

#column1 {
  width: 33%;
  text-align: center;
  background-color: #F0F1F1;
  margin: 8px 5px 5px 0px;
  overflow: hidden;  /* Hiding leaking images outside of the div*/
}


#column1 img {
  width: 550px;
}

#column3 {
  width: 33%;
  text-align: center;
  background-color: #F0F1F1;
  margin: 8px 0px 5px 0px;
}

#column3 img {
  width: 150px;
  overflow: hidden;
}

#column3 a {
  text-decoration: none;
}

#column2 {
  width: 33%;
  background-color: #F0F1F1;
  margin: 8px 5px 5px 0px;
}

#column2 li {
  list-style-type: none;  /* Removing bullet point from the list */
  padding: 20px;
  margin-top: 10px;
}

#column2 li a {
  text-decoration: none;
  color: blue;
}

/*Aligning items inside the footer */

footer {
  background-color: #F0F1F1;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

#footer-flag img {
  width: 30px;
}

#footer-middle-text a {
  text-decoration: none;
}

